{% extends "earth_engine/base.html" %}
{% load tethys_gizmos static %}
{% load static %}

{% block app_navigation_items %}
  <li class="separator"></li>
  <b class="title">Dataset</b>
  <p class="separator"></p>
    <button type="button" class = "btn btn-primary" data-toggle="buttons" id="sentinel1">Sentinel 1</button>
    <button type="button" class = "btn btn-primary" data-toggle="buttons" id="landsat8">Landsat 8</button>
  <p class="separator"></p>
  {% gizmo start_date %}
  {% gizmo end_date %}
  <div>
    <li id = "terrain_correction_p"><strong>Terrain Correction</strong></li>
    <label class="switch" name="terrain_correction_name" id="terrain_correction_id">
      <input id="terrain_correction_check" type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </div>
  <p class="separator"></p>
  <div>
    <li id="speckle_filter_p"><strong>Speckle Filter</strong></li>
    <label class="switch" name="speckle_filter_name" id="speckle_filter_id">
      <input id="speckle_filter_check" type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </div>
  <p class="separator"></p>
  <div>
    <li id="cloud_mask_p"><strong>Cloud Mask</strong></li>
    <label class="switch" name="cloud_mask_name" id="cloud_mask_id">
      <input id="cloud_mask_check" type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </div>
  <p class="separator"></p>
  <div>
    <li id="extract_flood_p"><strong>Extract Flood</strong></li>
    <label class="switch" name="extract_flood_name" id="extract_flood_id">
      <input id="extract_flood_check" type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  <p class="separator"></p>
  <div class="form-outline">
    <label class="form-label" id="water_period_p" for='typeSelect'>Permanent Water</label>
    <select type = 'select' class="form-control" id = "water_period_id">
      <option value="1">Past 5 Years</option>
      <option value="2">Seasonal</option>
      <option value="3">Long Term History</option>
    </select>
  <div>
  <li class="separator"></li>
  <div class="form-outline">
    <label class="form-label hidden" id="occurance_thresh_p" for='typeNumber'>Occurance Threshold</label>
    <input type="number" id="occurance_thresh_id" class="form-control hidden" placeholder="75"/>
  </div>
  <p class="separator"></p>
  <p class="help">Change variables to select a dataset, then press "Load" to add that product to the map.</p>
  <button type="button" class = "btn btn-primary" id="load_data">Load</button>
  <button type="button" class = "btn btn-danger" id="clear_data">Clear</button>
  <button type="button" class = "btn btn-success hidden" data-toggle="buttons" id="export_data">Export</button>
{% endblock %}

{% block app_content %}
  <div id="map"></div>
  <img id="GeneralLoading" class="view-file hidden" src="{% static 'earth_engine/images/loader.gif' %}" />
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <div id="ee-products" data-ee-products="{{ ee_products|jsonify }}"></div>
{% endblock %}
