{% extends "earth_engine/base.html" %}
{% load tethys_gizmos static %}
{% load static %}

{% block app_navigation_items %}
  <li class="separator"></li>  
  <b class="title">Dataset</b>
  <p class="separator"></p>
  <div class="btn-group" data-toggle="buttons">
    <button type="button" class = "btn btn-primary" id="sentinel1">Sentinel 1</button>
    <button type="button" class = "btn btn-primary" id="landsat8">Landsat 8</button>
  </div>
  <p class="separator"></p>
  {% gizmo start_date %}
  {% gizmo end_date %}
  {% gizmo reducer_select %}
  <li id = "terrain_correction_p"><strong>Terrain Correction</strong></li>
  <select name="terrain_correction_name" id="terrain_correction_id">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <p class="separator"></p>
  <li id="speckle_filter_p"><strong>Speckle Filter</strong></li>
  <select name="speckle_filter_name" id="speckle_filter_id">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <p class="separator"></p>
  <li id="cloud_mask_p"><strong>Cloud Mask</strong></li>
  <select name="cloud_mask_name" id="cloud_mask_id">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <p class="separator"></p>
  <p class="help">Change variables to select a dataset, then press "Load" to add that product to the map.</p>
  <button type="button" class = "btn btn-primary" id="load_data">Load</button>
  <button type="button" class = "btn btn-primary" id="clear_data">Clear</button>
{% endblock %}

{% block app_content %}
  <div id="map"></div>
  <img id="GeneralLoading" class="view-file hidden" src="{% static 'earth_engine/images/loader.gif' %}" />
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <div id="ee-products" data-ee-products="{{ ee_products|jsonify }}"></div>
{% endblock %}
