/* Map Format */
/* #app-content-wrapper #app-content {
    height: 100%;
}

#inner-app-content {
    height: 100%;
    padding: 0;
} */

/* #map {
  height: 180px;
} */
/* #map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} */
